// Import fonts
@import "fonts";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$primary: #f5ff4f;
$light: #ced4da;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/buttons";
// @import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/accordion";

// 5. Add additional custom code here
// Font variables
$font-title: "Gotham Bold";
$font-book: "Gotham Book";

// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

//
// Custom styles
//

// Custom variables
$nav-height: 56px;

// Custom CSS
body {
  background-image: url(../images/background.webp);
  background-size: cover;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  overflow: hidden;
  h1 {
    font-family: $font-title;
    margin-left: 150px;
  }
}

.main {
  h2 {
    font-family: $font-title;
    margin-left: 150px;
  }
}

.main-bg {
  height: calc(100vh - #{$nav-height});
  max-height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bg_svg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  font-family: $font-title;
  font-size: 1.2em;
  height: $nav-height;
  margin: 40px 40px 0;
  div {
    a {
      font-size: 1.2em !important;
    }
  }
  .move {
    transform: translateY(6px);
  }
  .nav-logo {
    width: 40px;
    height: 28px;
  }
  .btn {
    font-size: 1em;
  }
}

.navbar {
  background-image: none !important;
}

.social-icons {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 40px;

    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    li {
      padding: 0.85rem 0;
      display: list-item;
    }
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0 auto;
      background-color: darkgrey;
    }
  }
}

.about {
  color: whitesmoke;
  h2 {
    font-family: $font-title;
    position: relative;
    &::before {
      content: url(../images/molten_sphere.svg);
      position: absolute;
      left: 0;
      bottom: 40%;
      transform: translateX(-50%);
    }
    &::after {
      content: url(../images/title_dots.svg);
      position: absolute;
      left: 77%;
      top: 0;
      transform: translateY(-25%) scale(120%);
    }
  }
  p {
    font-family: $font-book;
    margin: 0.25rem;
  }
  .image-grey {
    filter: grayscale(60%);
  }
  .profile-pic {
    position: relative;
    &::before {
      content: '<Dev className="Next Level" />';
      position: absolute;
      transform: rotate(-90deg) translate(50%, -700%);
      left: 0;
      bottom: 0;
      width: 250px;
      font-size: 0.9em;
    }
    &::after {
      content: "";
      background-image: url(../images/pp_bg.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 15%;
      top: 15%;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

.skills {
  color: whitesmoke;
  font-family: $font-book;
  .row {
    &:nth-child(2) {
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/skills_big_bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 110%;
        height: 110%;
        top: 0px;
        left: 0px;
        z-index: -1;
      }
    }
    p {
      font-size: 0.8rem;
    }
  }
  h2 {
    position: relative;
    font-family: $font-title;
    &::before {
      content: url(../images/skills_bg.svg);
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-15%, -35%) scale(1.1);
      z-index: -1;
    }
    &::after {
      content: "<ul>skills</ul>";
      position: absolute;
      left: 0;
      top: 100%;
      font-family: $font-book;
      font-size: 0.4em;
    }
  }
  .row-spacing {
    margin-bottom: 4.5rem;
  }
}

.projects {
  color: whitesmoke;
  .h-100 {
    height: 100%;
  }
  .hover-long {
    position: relative;
    transition: transform 0.1s;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url(../images/projects/parcel-preview2.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: opacity 0.2s linear;
      z-index: 2;
    }
    &:hover {
      transform: scale(1.03);
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
  .hover-wide {
    position: relative;
    transition: transform 0.1s;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url(../images/projects/pokedex-preview.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: opacity 0.2s linear;
      z-index: 2;
    }
    &:hover {
      transform: scale(1.03);
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
  .hover-small {
    position: relative;
    transition: transform 0.1s;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url(../images/projects/ruien-preview1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: opacity 0.2s linear;
      z-index: 2;
    }
    &:hover {
      transform: scale(1.03);
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
  .hover-secondary {
    transition: transform 0.1s;
    img {
      filter: grayscale(1);
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      transition: opacity 0.2s linear;
      z-index: 2;
    }
    &:hover {
      transform: scale(1.03);
      img {
        filter: none;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
  .project-list {
    position: relative;
    margin-bottom: 1em;
    &::before {
      content: "<p>Projects</p>";
      transform: rotate(-90deg);
      position: absolute;
      left: -90px;
      bottom: 145px;
      font-family: $font-book;
    }
    &::after {
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      top: 0;
      left: -2%;
      background-image: url(../images/projects_bg.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }
}

.contact {
  color: whitesmoke;
  .details {
    font-family: $font-book;
  }
  .commit {
    font-family: $font-title;
  }
  .contact-bg {
    background-image: url(../images/contact-bg.svg);
    background-size: cover;
    background-position: center;
  }
  .contact-text-right {
    position: relative;
    p {
      font-size: 0.9em;
    }
    &::after {
      content: "";
      background: url(../images/contact_art.svg) no-repeat;
      background-size: contain;
      height: 150%;
      width: 150%;
      right: 80%;
      bottom: 30%;
      position: absolute;
      z-index: -1;
    }
  }
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

.footer-logo {
  width: 30px;
  height: 30px;
  margin: 0 25px 25px 0;
}

// Larger then Large
@media (min-width: 1201px) {
  .skills {
    p {
      float: right;
      transform: translateX(-22px);
    }
  }
}

// Even larger
@media (min-width: 1400px) {
  .skills {
    p {
      transform: translateX(-65px);
    }
  }
}
// Large to extra large
@media (max-width: 1400px) {
  section {
    padding-left: 100px;
    overflow-x: hidden;
    margin-right: 50px;
  }
}
// Medium to large
@media (max-width: 1200px) {
  section {
    height: auto;
    margin-bottom: 150px;
    padding-left: 100px;
  }
  nav {
    font-size: 0.9em;
    div {
      a {
        font-size: 0.9em;
      }
    }
  }
  .skills {
    p {
      width: 100%;
    }
  }
  .contact {
    .contact-text-right {
      &::after {
        background: none;
      }
    }
  }
}

// Small to medium
@media (max-width: 767.98px) {
  .social-icons {
    display: none;
  }
  nav {
    font-size: 0.8em;
    div {
      a {
        font-size: 0.8em !important;
      }
    }
  }
  .skills {
    .row {
      &:nth-child(2) {
        &::after {
          background-image: none;
        }
      }
    }
  }
}

// Extra small to small
@media (max-width: 576px) {
  nav {
    font-size: 0.6em;
    margin: 40px 0 0;
    .nav-logo {
      transform: scale(0.5);
    }
    .move {
      transform: translateY(8px);
    }
  }
}
